@model Hamburgueria_WebMVC.ViewModels.PedidoViewModel
<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>

<main>
    <h2>Pede aí, Jovem @Model.Cliente.Nome !</h2>
    <form method="POST" action="/Pedido/RegistrarPedido">
        <div>
            <label for="nome">Nome Completo</label>
            <br />
            <input id="nome" type="text" maxlength="40" minlength="3" name="nome" value="@Model.Cliente.Nome"/>
        </div>

        <div>
            <label for="endereco">Endereço</label>
            <br />
            <input id="endereco" type="text" maxlength="50" minlength="3" name="endereco" value="@Model.Cliente.Endereco" />
        </div>

        <div>
            <label for="telefone">Telefone para contato</label>
            <br />
            <input id="telefone" type="text" name="telefone" value="@Model.Cliente.Telefone"/>
        </div>

        <div>
            <label for="email">E-mail</label>
            <br />
               <input id="email" type="email" name="email" value="@Model.Cliente.Email"  />
        </div>

        <div class="double-field">
            <div>
                <label for="hamburguer">Hamburguer</label>
                <select id="hamburguer" name="hamburguer" required>
                    <option value="" disabled selected>Selecione</option>
                    @foreach (var hamb in Model.Hamburgueres)
                    {
                        <option value="@hamb.Nome">@hamb.Nome</option>
                    }
                </select>
            </div>
            <div>
                <label for="shake">Shake</label>
                <select id="shake" name="shake">
                    <option value="" disabled selected>Selecione</option>
                    @foreach (var sha in Model.Shake)
                    {
                        <option value="@sha.Nome">@sha.Nome</option>
                    }
                </select>
            </div>
        </div>
        <input type="submit" value="Finalizar pedido!" />
    </form>

</main>